[user]
	name = RoyStegeman
	email = roystegeman@live.nl
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[alias]
	br = branch
	co = checkout
	s = status
[diff]
        wsErrorHighlight = all

