[submodule ".vim/pack/colors/start/kalisi"]
	path = .vim/pack/colors/start/kalisi
	url = https://github.com/freeo/vim-kalisi
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/plugins/start/nerdtree-git-plugin"]
	path = .vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule ".vim/pack/syntax/start/vimtex"]
	path = .vim/pack/syntax/start/vimtex
	url = https://github.com/lervag/vimtex.git
